html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  /* overflow: hidden; */
  max-height: 100vh;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body { 
  font-family: 'BYekan', sans-serif;
  line-height: 1;
  background-color: white;
}


blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.chatbot {
  direction:rtl;
}

.markdown h1 {
  font-size:32px;
}

.markdown h2 {
  font-size:26px;
  
}

.markdown h3 {
  font-size:24px;margin-bottom:12px;
}

.markdown h4 {
  font-size:22px;
}

.markdown h5 {
  font-size:20px;
}

.markdown h6 {
  font-size:22px;
  margin-bottom:12px;
}


.markdown a {
  color:#00B6B8
}

.markdown table {
width: 100%; 
    border-collapse: collapse;
    padding: 20px; 
    font-size: 16px;
    text-align: left;
}

.markdown th {
    background-color: #009C9D; 
    color: white; 
    padding: 12px;
}

.markdown td {
    border: 1px solid #dddddd;
    padding: 10px;
}

.markdown tr:hover {
    background-color: #f1f1f1;
}

.markdown tr:nth-child(even) {
    background-color: #f9f9f9;
}


.markdown ul,ol {
    list-style-type: none;
    padding: 0; 
    margin: 20px 0;
}

/* List item styling */
.markdown li {
    position: relative; 
    padding-right: 25px;
      line-height:36px;margin-bottom:2px;

}

.markdown li::before {
    content: ''; 
    position: absolute; 
    right: 0;
    top: 22px;
    transform: translateY(-50%);
    width: 10px; 
    height: 10px;
    background-color: #8C58D9; 
    border-radius: 50%;
}


/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #0d9488; /* Tailwind teal-600 */
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  top: 45%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #14b8a6; /* Tailwind teal-500 */
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

/* Adjust for RTL */
[dir="rtl"] .swiper-button-prev {
  right: 10px;
  left: auto;
}

[dir="rtl"] .swiper-button-next {
  left: 10px;
  right: auto;
}
