@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../fonts/YekanBakhFaNum-ExtraBlack.ttf");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

