@font-face {
  font-family: 'BYekan';
  src: url('../../assets/fonts/BYekan+ Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BYekan';
  src: url('../../assets/fonts/BYekan+.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}